.landscape {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.hill {
    position: absolute;
    bottom: 0;
    width: 100%;
    clip-path: url(#hill-clip);
}

.hill-back {
    height: 75vh;
    background: linear-gradient(to bottom, #4a7a2c, #2d4d1a);
    z-index: 1;
    opacity: 0.8;
    transform: scaleX(1.2);
}
.hill-middle {
    height: 60vh;
    background: linear-gradient(to bottom, #7aa84d, #3e6325);
    z-index: 2;
    transform: scaleX(-1);
}

.hill-front {
    height: 45vh;
    background: linear-gradient(to bottom, #add666, #4c9a4c);
    z-index: 3;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.front-rim {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45.5vh;
    background-color: #5d8a35;
    clip-path: url(#hill-clip);
    z-index: 2;
}