/* General Page Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Sky Background */
.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(rgb(178, 221, 244), rgb(75, 183, 225));
    z-index: 0;
}

/* Cloud Styling */
.cloud-container {
    position: absolute;
    top: 50px;
    left: 100px;
    animation: float 20s ease-in-out infinite;
}

.cloud2 {
    top: 100px;
    right: 150px;
    left: auto;
    animation: float 25s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes float {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(50px) translateY(-20px);
    }
}

/* Bird Styling */
.bird-container {
    position: absolute;
    top: 150px;
    right: 200px;
    animation: fly 15s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

/* Ground Background */
.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(rgb(155, 233, 155), rgb(84, 221, 84));
    z-index: 5;
}

/* Grass Styling */
.grass {
    height: 1px;
    width: 1px;
    background-color: transparent;
    border: 10px solid transparent;
    border-bottom: 10px solid rgb(85, 204, 85);
    position: relative;
    display: inline-block;
}

.grass1 {
    margin-left: 15px;
}

.grass2 {
    margin-left: 250px;
}

.grass3 {
    margin-left: 400px;
}

.grass4 {
    margin-left: 1300px;
}

.grass5 {
    margin-left: 1100px;
}

.grass6 {
    margin-left: 700px;
}

.grass7 {
    margin-left: 350px;
}

.grass8 {
    margin-left: 750px;
}

.grass9 {
    margin-left: 200px;
}

.grass10 {
    margin-left: 100px;
}

.grass11 {
    margin-right: 800px;
}

.grass12 {
    margin-left: 900px;
}

/* Hill Landscape */
.landscape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

.hill {
    position: absolute;
    bottom: 0;
    width: 100%;
    clip-path: url(#hill-clip);
}

.hill-back {
    height: 75vh;
    background: linear-gradient(to bottom, #4a7a2c, #2d4d1a);
    z-index: 1;
    opacity: 0.8;
    transform: scaleX(1.2);
}

.hill-middle {
    height: 60vh;
    background: linear-gradient(to bottom, #7aa84d, #3e6325);
    z-index: 2;
    transform: scaleX(-1);
}

.hill-front {
    height: 45vh;
    background: linear-gradient(to bottom, #add666, #4c9a4c);
    z-index: 4;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.front-rim {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45.5vh;
    background-color: #5d8a35;
    clip-path: url(#hill-clip);
    z-index: 3;
}

/* Tree */
.tree {
    position: absolute;
    left: 45%;
    bottom: 18vh;
    z-index: 6;
}

.trunk {
    width: 40px;
    height: 150px;
    background: linear-gradient(90deg, #5D4037, #8B5A2B, #5D4037);
    border-radius: 5px;
    position: relative;
}

.canopy {
    position: absolute;
    transform-origin: bottom center;
    animation: sway 4s ease-in-out infinite;
}

.base-leaf {
    position: absolute;
    left: -40px;
    top: -90px;
    width: 120px;
    height: 150px;
    background: radial-gradient(circle at 80% 80%, #3CB371, #228B22, #1B5E20);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.upper-leaf {
    position: absolute;
    left: -25px;
    top: -120px;
    width: 90px;
    height: 100px;
    background: radial-gradient(circle at 80% 80%, #3CB371, #228B22, #1B5E20);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@keyframes sway {
    0%, 100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

/* Smaller Trees */
.tree2 {
    left: 20%;
    bottom: 25vh;
    transform: scale(0.65);
    z-index: 3;
    opacity: 0.9;
}

.tree2 .canopy {
    animation-delay: 1s;
}

.tree3 {
    left: 70%;
    bottom: 20vh;
    transform: scale(0.75);
    z-index: 5;
}

.tree3 .canopy {
    animation-delay: 2s;
}
